<p id="notice"><%= notice %></p>

<h1>Semesters</h1>
<table class="table table-bordered table-hover">
  <div class="container">
    <%= render 'showsemesterinfo' %>
  </div>
</table>
<div class="container">
  <nav class="nav navbar-nav navbar-right">
      <div>
        <%= link_to 'Add Courses', new_course_path,:class => "btn btn-primary"%>
        <%= link_to 'New Semester', new_semester_path,:class => "btn btn-primary"%>
      </div>
  </nav>
</div>

