<div class="progress" style="width: 25%">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<%= current_user.num_credits %>" aria-valuemin="0" aria-valuemax="120" style="width: <%= current_user.num_credits %>%">
        <span><%= current_user.num_credits %> /120</span>
    </div>
</div>