<div class="progress" style="width: 25%">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<%= @credits %>" aria-valuemin="0" aria-valuemax="120" style="width: <%= @credits %>%">
        <span><%= @credits %> /120</span>
    </div>
</div>