<table width="100%">
  <thead>
    <tr>
      <th width="25%">Term</th>
      <th width="25%">Year</th>
      <th width="25%">Course Name</th>
      <th width="25%">Department</th>
      <th width="25%">Instructor</th>
      <th width="25%">Credits</th>
      <th width="25%">Grade</th>
      <th width="25%"></th>
      <th width="25%"></th>
      <th width="25%"></th>
    </tr>
  </thead>
  <tbody>
   <%= render @courses %>
  </tbody>
</table>