<table width="100%">
  <thead>
    <tr>
      <th width="10%">Term</th>
      <th width="10%">Year</th>
      <th width="25%">Course Name</th>
      <th width="10%">Department</th>
      <th width="25%">Instructor</th>
      <th width="10%">Credits</th>
      <th width="10%">Grade</th>
      <th width="25%"></th>
      <th width="25%"></th>
    </tr>
  </thead>
  <tbody>
   <%= render @courses %>
  </tbody>
</table>